.display-components-container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem;

  .create-button {
    background: #ffffff;
    color: #000000;
    margin-bottom: 2rem;
  }
}